@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;

}



section {
    padding: 2rem 7%;
}

.heading {
    text-align: center;
    font-size: 4rem;
    margin: 2rem 0;
    color: #29a5a3;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    background: #29a5a3;
    color: #fff;
    padding: .8rem 3rem;
    border: .2rem solid #29a5a3;
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
}

.btn:hover {
    color: #29a5a3;
    background: rgba(41, 165, 163, .2);
}


/* header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #29a5a3;
    text-transform: uppercase;
}

.header .navbar a {
    color: #333;
    font-size: 2rem;
    margin: 0 .8rem;
}

.header .navbar a:hover {
    color: #29a5a3;
}

.header .navbar #close-navbar {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    font-size: 4rem;
    cursor: pointer;
    color: #444;
    display: none;
}

.header .navbar #close-navbar:hover {
    transform: rotate(90deg);
}

.header .btn {
    margin-top: 0;
}

#menu-btn {
    color: #333;
    border: .1rem solid #333;
    font-size: 3rem;
    padding: .5rem 1.2rem;
    border-radius: .5rem;
    cursor: pointer;
    display: none;
}


/* end */


/* home */

.home {
    min-height: 120vh;
    background: url(images/homebg.jpg) no-repeat;
    background-position: center !important;
    background-size: cover !important;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 5px;
}

.home .content h3 {
    font-size: 4.5rem;
    color: #fff;
    text-transform: uppercase;
}

.home .content p {
    font-size: 2.5rem;
    color: #fff;
    padding: .5rem 0;
}


/* end */


/* about */

.about .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 5rem;
}

.about .container .image-container {
    flex: 1 1 42rem;
}

.about .container .image-container .image {
    border-radius: 1rem;
    width: 100%;
}

.about .container .image-container :hover {
    background: rgba(41, 165, 163, .2);
}

.about .container .content {
    flex: 1 1 42rem;
    margin-bottom: 8rem;
}

.about .container .content span {
    color: #29a5a3;
    font-size: 2rem;
}

.about .container .content h3 {
    color: #333;
    font-size: 4rem;
    margin-top: .5rem;
}

.about .container .content p {
    font-size: 1.4rem;
    padding: 1rem 0;
    color: #666;
    line-height: 2;
}


/* end */


/* packages */

.packages .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.packages .box-container .box {
    flex: 1 1 30rem;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.packages .box-container .box .image {
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.packages .box-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.packages .box-container .box:hover .image img {
    transform: scale(1.1);
}

.packages .box-container .box .content {
    text-align: center;
    padding: 2rem;
}

.packages .box-container .box .content h3 {
    font-size: 2rem;
    color: #29a5a3;
}

.packages .box-container .box .content .price {
    font-size: 2rem;
    color: #333;
    padding-top: 1rem;
}

.packages .box-container .box .content .price span {
    color: #29a5a3;
    font-size: 1.5rem;
    text-decoration: line-through;
}

.packages .box-container .box .content p {
    font-size: 1.7rem;
    color: #666;
    padding: 1rem 0;
}


/* end */


/* gallery */

.gallery .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.gallery .box-container .box {
    flex: 1 1 36rem;
    height: 28rem;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border: 1rem solid #fff;
    border-radius: .5rem;
}

.gallery .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* end */


/* media query */

@media(max-width:991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 2rem;
    }
    section {
        padding: 2rem;
    }
}

@media(max-width:768px) {
    #menu-btn {
        display: inline-block;
    }
    .header .navbar {
        position: fixed;
        top: 0;
        left: -105%;
        width: 30rem;
        background: #fff;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        z-index: 1200;
    }
    .header .navbar.active {
        left: 0;
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    }
    .header .navbar #close-navbar {
        display: block;
    }
    .header .navbar a {
        display: block;
        margin: 1rem 0;
        text-align: center;
        font-size: 3rem;
    }
}

@media(max-width:450px) {
    html {
        font-size: 50%;
    }
}
